<h2>Question ID:<%= @question.id %></h2>
<%= button_to "#{t('Back')} #{@question.test.title}", admin_test_path(@question.test), method: :get %>
<%= button_to t('test_passages.result.list'), tests_path, method: :get %>
<p><%=@question.body %></p>

<p>Test: <%=@question.test.title %></p>
<br>
<%= link_to t('admin.questions.show.answer_variant'), new_question_answer_path(@question) %>
<br>
<%= render @question.answers %>

<div>
  <%= button_to t('admin.tests.test.create_question', id: @question.test_id), new_test_question_path(@question.test_id), method: :get %>
  <%= button_to "#{t('Delete')} #{t('Question')}", question_path(@question), method: :delete, data: {confirm: t('helpers.sure') }%>
</div>

<%= link_to t('Back'), admin_test_path(@question.test) %>
