<h1>The <%= @test_passage.test.title %> Test was Completed!</h1>
<p><h2>
  <% if @test_passage.success? %>
    <% color = "green" %>
    <%= "Congratulations Test passed successfully!" %></p>
  <% else %>
    <% color = "red" %>
    <%= "Test failed!" %>
  <% end %>
  </h2></p>

<table width="400" border="1">
    <th>
      Test questions
    </th>
  <th>
    You answered correctly
  </th>
  <th>
    Percent
  </th>
<tr>
  <td><%= @test_passage.test.questions.count %></td>
  <td><%= @test_passage.correct_questions %></td>
  <td bgcolor="<%= color %>" text><font color="white"><%= @test_passage.percent %>%</td>
</tr>
</table>
<br>
<%= button_to 'Test List', tests_path, method: :get %>
