<h1><%= t('.header', title: @test_passage.test.title ) %></h1>
<p><h2>
</p>
  <% if @test_passage.success? %>
    <% color = "green" %>
  <%= t('.success') %>
  <% else %>
    <% color = "red" %>
  <%= t('.result') %>:
  <%= t('.fail') %>
  <% end %>
  </h2></p>

<table width="400" border="1">
    <th><%= t('.count_question') %></th>
  <th><%= t('.correctly') %></th>
  <th><%= t('.percent') %></th>
<tr>
  <td><%= @test_passage.test.questions.count %></td>
  <td><%= @test_passage.correct_questions %></td>
  <td bgcolor="<%= color %>" text><font color="white"><%= @test_passage.percent %>%</td>
</tr>
</table>
<br>
<%= button_to t('.list'), tests_path, method: :get %>
