<nav>
  <ul class="nav__links">
    <%= link_to 'TestGuru', root_path %>
    <li>
      <%= link_to 'Tests', tests_path %>
      <%= link_to 'About', "/about" %>
      <%= link_to 'Contacts', "/about/author" %>
    </li>
    <li class="account">
      <% if session[:user_id].present? %>
      <%= link_to 'LogOut', destroy_user_session_path, method: :delete %>
        <% else %>
      <%= link_to 'Login', new_user_session_path %> |
        <%= link_to 'SignUp', user_session_path  %>
      <% end %>
    </li>
  </ul>
</nav>
