<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <div class="card border-primary">
      <div class="card-body">
  <%= form_with model: [:admin, @test], local: true do |f| %>
    <%= render 'shared/errors', resource: @test %>
    <%= f.label :title %>
    <%= f.text_field :title, id: :test_title, class: 'form-control' %>
    <br>
    <%= f.label :level %>
    <%= f.text_field :level, id: :test_level, class: 'form-control' %>
    <br>
    <%= f.label :category_id %>
          <div class="dropdown">
    <%= f.collection_select :category_id, Category.order(:title), :id, :title, prompt: t('helpers.select.prompt'),
    class: "btn btn-secondary dropdown-toggle"%>
          </div>
    <br>
          <%= f.label :time, t('admin.tests.create.pass_time') %>
          <%= f.number_field :time, class: 'form-control' %>
    <br>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
      </div>
    </div>
  </div>
</div>
