<div class="jumbotron" xmlns="http://www.w3.org/1999/html">
  <p class="lead">
    <%= link_to t('test_passages.result.list'), admin_tests_path, role: "button", class: 'btn btn-success'%>
    <%= link_to t('.create_test'), new_admin_test_path, role: "button", class: 'btn btn-primary' %>
  </p>

  <button type="button" class="btn btn-primary"><%= @test.title %>
    <span class="badge badge-light"><%= "#{t('.id')}: #{@test.id}" %></span>
  </button>
  <%= link_to t('.edit'), edit_admin_test_path(@test),role: "button", class: 'btn btn-outline-info' %>

  <hr class="my-4">
  <div class="card-group border-success">
    <% @test.questions.each do |q|%>
      <div class="card-body col-3">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
          <div class="card-header"><%= q.id %> | <%= q.body.truncate(50) %></div>
          <div class="card-body">
            <% q.answers.each do |a| %>
            <h6 class="card-title">
              <label class="answer-body">
              <%= check_box_tag(a.id, "#{a.correct? ? 1 : 0 }", a.correct?, class: :checkbox) %> <%= a.body %></h6>
              </label>
            <% end %>
            <p class="add-answer">
              <%= link_to "+", new_question_answer_path(q), role: "button", class:'btn btn-success' %>
            </p>
            <p class="card-text"><%= link_to t('.edit'), edit_question_path(q), role: "button", class:'btn btn-warning' %>
              <%= link_to t('.delete'), question_path(q), method: :delete, role: "button", class:'btn btn-danger' %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <p class="lead">
    <%= link_to t('.create_question', id: @test.id), new_test_question_path(@test), role: "button", class: 'btn btn-outline-dark' %>
  </p>
</div>









<p><%= @test.title %></p>
<p><%= t('helpers.label.test.level') %>: <%= @test.level %></p>


