<div class="jumbotron">
  <p class="lead">
    <%= link_to t('test_passages.result.list'), admin_tests_path, role: "button", class: 'btn btn-success'%>
    <%= link_to t('.create_test'), new_admin_test_path, role: "button", class: 'btn btn-primary' %>
  </p>

  <button type="button" class="btn btn-primary"><%= @test.title %>
    <span class="badge badge-light"><%= "#{t('.id')}: #{@test.id}" %></span>
  </button>
  <%= link_to t('.edit'), edit_admin_test_path(@test),role: "button", class: 'btn btn-outline-info' %>

  <hr class="my-4">
  <div class="card-group border-success">
    <% @test.questions.each do |q|%>
      <div class="card-body col-3">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
          <div class="card-header"><%= q.id %></div>
          <div class="card-body">
            <h5 class="card-title"><%= q.body %></h5>
            <p class="card-text"><%= link_to t('.edit'), edit_question_path(q), role: "button", class:'btn btn-warning' %>
              <%= link_to t('.delete'), question_path(q), method: :delete, role: "button", class:'btn btn-danger' %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <p class="lead">
    <%= link_to t('.create_question', id: @test.id), new_test_question_path(@test), role: "button", class: 'btn btn-outline-dark' %>
  </p>
</div>









<p><%= @test.title %></p>
<p><%= t('helpers.label.test.level') %>: <%= @test.level %></p>


