<h2><%= t('.id') %>: <%= @test.id %></h2>
<%= button_to t('test_passages.result.list'), admin_tests_path, method: :get %>
<p><%= @test.title %></p>
<p><%= t('helpers.label.test.level') %>: <%= @test.level %></p>

<div style="width: 50%; margin: 0 auto; text-align: center;">
  <table border="1">
    <tr>
      <th><%= t('.question_id') %></th>
      <th><%= t('.body') %></th>
      <th><%= t('Action') %></th>
    </tr>
    <% @test.questions.each do |q|%>
      <tr>
        <td>
          <%= q.id %>
        </td>
        <td>
          <%= link_to q.body, q %>
        </td>
        <td><%= button_to t('.edit'), edit_question_path(q), method: :get %></td>
      </tr>
    <% end %>
    <tr>
      <td>
        <%= button_to t('.create_test'), new_admin_test_path, method: :get %>
      </td>
      <td>
        <%= button_to t('.create_question', id: @test.id), new_test_question_path(@test), method: :get %>
      </td>
    </tr>
  </table>
</div>

<div>
  <%= button_to t('.edit'), edit_admin_test_path(@test), method: :get %>
  <%= button_to t('test_passages.result.list'), admin_test_path, method: :get  %>
</div>
