<h1><%= t('.header') %></h1>
<div style="width: 50%; margin: 0 auto; text-align: center;">
  <%= render 'shared/errors', resource: @test %>
  <table class="table table-striped" border="1" width="400">
    <tr>
      <th>ID</th>
      <th class="sort-by-title pointer">
        <%= fa_icon "arrow-up", class: 'text-success hide' %>
        <%= fa_icon "arrow-down", class: 'text-success hide' %>
        <%= t('helpers.label.test.title') %>
      </th>
      <th><%= t('questions.header') %></th>
      <th><%= t('helpers.label.test.level') %></th>
      <th><%= t('.action') %></th>
    </tr>
    <% @tests.each do |t| %>
      <tr>
        <td class="align-middle">
          <%= t.id %>
        </td>
        <td class="align-middle">
          <%= content_tag :span, t.title, class: 'test-title', data: {test_id: t.id} %>
          <%= render 'admin/tests/form_inline', test: t == @test ? @test : t %>
        </td>
        <td class="align-middle">
          <%= t.questions.count %>
        </td>
        <td class="align-middle">
          <%= t.level %>
        </td>
        <td>
          <%= link_to "Show", admin_test_path(t) %>
          <%= link_to "Edit", edit_admin_test_path(t),
                      data: {test_id: t.id },
                      class: 'form-inline-link' %>
          <%= link_to "Delete", admin_test_path(t), method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
    <% end %>
    </tr>
  </table>
  <%= link_to t('admin.tests.test.create_test'), new_admin_test_path, role: "button", class: 'btn btn-primary' %>
</div>
