<h1><%= t('.header') %></h1>
<div style="width: 50%; margin: 0 auto; text-align: center;">
  <table class="table table-striped" border="1" width="400">
    <tr>
      <th>ID</th>
      <th class="sort-by-title pointer">
        <%= fa_icon "arrow-up", class: 'text-success hide' %>
        <%= fa_icon "arrow-down", class: 'text-success hide' %>
        <%= t('helpers.label.test.title') %>
      </th>
      <th><%= t('questions.header') %></th>
      <th><%= t('helpers.label.test.level') %></th>
    </tr>
    <% @tests.each do |t| %>
      <tr>
        <td>
          <%= t.id %>
        </td>
        <td>
          <%= link_to t.title, admin_test_path(t) %>
        </td>
        <td>
          <%= t.questions.count %>
        </td>
        <td>
          <%= t.level %>
        </td>
    <% end %>
    </tr>
  </table>
  <%= link_to t('admin.tests.test.create_test'), new_admin_test_path, role: "button", class: 'btn btn-primary' %>
</div>
