<div style="width: 50%; margin: 0 auto; text-align: center;">
  <table border="1" width="400">
    <caption><h2><%= t('tests.index.header') %></h2></caption>
    <tr>
      <th>
        ID
      </th>
      <th>
        Title
      </th>
      <th>Questions</th>
      <th>
        Level
      </th>
      <th>
        Start
      </th>
    </tr>
    <% @tests.each do |t| %>
      <tr>
        <td>
          <%= t.id %>
        </td>
        <td>
          <%= t.title %>
        </td>
        <td>
          <%= t.questions.count %>
        </td>
        <td>
          <%= t.level %>
        </td>
      <td><%= button_to t('Start'), start_test_path(t) %></td>
    <% end %>
    </tr>
  </table>
</div>
