<div style="width: 50%; margin: 0 auto; text-align: center;">
  <table border="1" width="400">
    <caption><h2><%= t('tests.index.header') %></h2></caption>
    <tr>
      <th>ID</th>
      <th><%= t('activerecord.attributes.test.title') %></th>
      <th><%= t('questions.header') %></th>
      <th><%= t('helpers.label.test.level') %></th>
      <th><%= t('helpers.label.test.time') %></th>
      <th><%= t('Action') %></th>
    </tr>
    <% @tests.each do |t| %>
      <tr>
        <td>
          <%= t.id %>
        </td>
        <td>
          <%= t.title %>
        </td>
        <td>
          <%= t.questions.count %>
        </td>
        <td>
          <%= t.level %>
        </td>
        <td>
          <%= passed_time(t) %>
        </td>
      <td>
        <% if t.questions.count > 0 %>
        <%= button_to t('Start'), start_test_path(t), class:"btn btn-success" %></td>
          <% else %>
          <%= t('.no_questions') %>
          <% end %>
    <% end %>
    </tr>
  </table>
</div>
